<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CitasApp</title>
    <link rel="stylesheet" href="~/css/citasapp.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CitasApp</a>
            <div class="navbar-nav" style="display:flex;flex-direction:row;">
                <a class="nav-link" asp-controller="Paciente" asp-action="Index">Pacientes</a>
                <a class="nav-link" asp-controller="Medico" asp-action="Index">MÚdicos</a>
                <a class="nav-link" asp-controller="Cita" asp-action="Index">Agenda</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        &copy; 2026 CitasApp &mdash; Tecnolˇgico de Software
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
